<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<body>
<div class="page-wrap">
    {% include header.html %}

    {% include current-status.html status=site.status %}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            <p><a href="https://www1.dotcom-monitor.com/reporting/Card/DrillDown.aspx?ID=69210&amp;UID=aec5ae4b1ef64c5f8e7338827fa43767&amp;scheme=blue&amp;kind=6&amp;year=2016&amp;month=11&amp;day=15">External uptime monitor</a></p>
            {{ content }}
        </div>
    </main>

    {% include footer.html %}
</div>
</body>

</html>
